.wrapper-profile {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.title-profile {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.space-profile {
    margin-top: 60px;
}

.row-profile {
    margin-bottom: 20px;
    margin-left: 30px;
}

.label-profile {
    margin-right: 5px;
    color: #333333
}

.info-profile {
    font-weight: bold;
    font-size: 18px;
}

.control-group-profile {
    display: flex;
    align-items: center;
}

.logout-btn-profile {
    width: 80px;
    font-size: 14px;
    background-color: #ff1208;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 6px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.logout-btn-profile:hover {
    opacity: 0.8;
}

.home-btn-profile {
    width: 80px;
    font-size: 14px;
    background-color: #4ea552;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 6px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    margin-right: 30px;
}

.home-btn-profile:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    .wrapper-profile {
        width: 100%;
        margin-top: 50px;
        box-sizing: border-box;
        padding: 0 10px;
    }
    .title-profile {
        font-size: 16px;
        margin-bottom: 25px;
        text-align: center;
    }

    .space-profile {
        margin-top: 30px;
    }

    .row-profile {
        margin-bottom: 12px;
    }

    .info-profile {
        font-size: 16px;
    }

    .control-group-profile {
        justify-content: center;
    }

}