.container-match-detail {
    width: 960px;
    margin: 40px auto 50px auto;
    box-sizing: border-box;
}

.top-match-detail {
    padding: 15px 20px;
    border: 1px solid #dddddd;
    margin-bottom: 40px;
    border-radius: 5px;
}

.bottom-match-detail {
    padding: 15px 20px;
    border: 1px solid #dddddd;
    margin-bottom: 40px;
    border-radius: 5px;
}

.title-detail {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.notify-detail {
    color: #2a5862;
    background-color: #e8f4f7;
    padding: 8px 20px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.label-middle {
    text-align: center;
    color: #2a5862;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}
.form-data {
    text-align: center;
}
.middle-section {
    text-align: center;
}
.table-detail {
    display: flex;
    justify-content: space-between;
}
.box-size {
    width: 49%;
    box-sizing: border-box;
    background-color: #e8f4f7;
    padding: 10px 20px;
}
.team-label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    color: #5ab9ea
}
.clear-btn {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 5px;
    margin-top: 6px;
    background-color: #ff1208;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.tag-match-detail {
    margin-right: 8px;
    text-align: center;
    border-radius: 4px;
    color: #2a5862;
    background-color: #e8f4f7;
    padding: 6px 10px;
    font-size: 14px;
    margin-bottom: 15px;
    display: inline-block;
}

.match-detail-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 6px;
}

.team-name-match-detail {
    margin: 0 8px;
    min-width: 75px;
    font-size: 18px;
    font-weight: 500;
}
.align-right-match-detail {
    text-align: right;
}
.info-match-detail {
    color: #2a5862;
    background-color: #e8f4f7;
    padding: 4px 10px;
    margin: 0 20px;
    border-radius: 5px;
}

.result-match-detail {
    margin: 0 20px;
    min-width: 60px;
    text-align: center;
}
.score-match-detail {
    font-weight: bold;
}
.divider-match-detail {
    font-size: 20px;
    margin: 0 6px;
}
.pen-match-detail {
    font-size: 14px;
    color: #ff1208;
}
.team-match-detail {
    display: flex;
    align-items: center;
}

.team-flag-match-detail {
    width: 50px;
    margin-top: 2px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #5ab9ea;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media only screen and (max-width: 996px) {
    .container-match-detail {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .team-name-match-detail {
        min-width: unset;
    }
    .table-detail {
        display: block;
        justify-content: unset;
    }
    .box-size {
        width: 100%;
        box-sizing: border-box;
        background-color: #e8f4f7;
        padding: 10px;
        margin-bottom: 10px;
    }
}