.menu-bar {
    padding: 8px 20px;
    background-color: #026670;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.login-register-button {
    cursor: pointer;
    color: #ffffff;
    transition: all 0.3s;
}

.login-register-button:hover {
    color: #139aed;
}

.menu-welcome {
    color: #ffffff;
}

.welcome-text {
    margin-right: 5px;
    font-size: 14px;
}

.username {
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.username:hover {
    color: #139aed;
}